@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
:root {
  --primary-color: rgb(13, 106, 134);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 20px;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
}

form input:focus {
  outline: 2px solid var(--primary-color);
}

form button {
  border: none;
  color: white;
  background: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  cursor: pointer;
}

form button:hover {
  background: rgb(2, 109, 2);
}
