* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  background-image: url("../img/v957-wan-14.jpg");
  background-size: 100%;
}

.card {
  background-color: #869992;
  border: none;
}

span {
  color: #fff;
}

.inputColor {
  background-color: #e9efeb;
}

.buttonColor {
  color: #fff;
}
